*{margin:0; padding:0}
body{font-size:12px; font-family:Arial, "ו"; color:#000}
ul,li,dl,dt,dd{list-style-type:none}
a:link{color:#222; text-decoration:none}
a:visited {color:#222; text-decoration:none}
a:hover{color:#222; text-decoration: underline;}
#container{width:100%; height:auto; overflow:hidden}
#header{width:100%; height:140px; overflow:hidden; background:url(images/ADMIN_r1_c1.jpg)}
#mainbody,#footer{width:1003px; height:auto; overflow:hidden;}
#mainbody{margin:30px 0 0 0}
